extends layout 

block content 
  h1= "Create new user"
  form(action='/new', method='POST')
    |  user: 
    input(type='text', name='user', value='')
    |  text: 
    input(type="text", name='text', value='')
    input(type='submit', value='Submit')